# Ignora archivos de compilación y carpetas de salida
/bin/
/build/
/out/

# Archivos de configuración del IDE (NetBeans y Eclipse)
nbproject/private/
nbproject/Makefile-*
build.xml
build/
dist/
*.iml
*.ipr
*.iws
.idea/

# Ignora archivos de configuración específicos de Eclipse
/.classpath
/.project
/.settings/

# Archivos y carpetas de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Archivos y carpetas de Gradle
.gradle/
/build/

# Archivos de logs y cachés
*.log
*.cache
*.temp
*.tmp

# Archivos del sistema operativo
.DS_Store        # macOS
Thumbs.db        # Windows
ehthumbs.db      # Windows

# Archivos específicos de configuración local
*.properties     # Si hay propiedades locales, como configuraciones de bases de datos locales
.env             # Variables de entorno sensibles

# Archivos de ejecución de Java
*.jar
*.war
*.ear

# Ignora las configuraciones de IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Archivos de configuración del sistema operativo y del editor
*.swp
*~